/* Set menus space */
#menuBar {
  position: relative;
  float: left;
  width: 23%;
  height: 97vh;
  border-right: 1px solid;
}
/* Set logo image */
#logo {
  height: 10vh;
  width: auto;
  margin: 5px 10px;
}
/* Set speaker image */
#volumeImage {
  position: absolute;
  height: 10vh;
  bottom: 10px;
  left: 10px;
}

/* explaination part */
.menuType {
  list-style-type: none;
  margin: 4vh 0px 0.5vh 15px; /* top, right, bottom, left */
  font-weight: bold;
}
/* select site part */
.menuLink {
  list-style-type: none;
  font-size: 30px;
  padding: 5px 0px;
  margin: 0px 15px 0px 10px;
  border-radius: 10px;
}
/* put icon on the menu */
#menu1 {
  padding-left: 50px;
  background: url("../img/menuDashboard_black.png") 5% 50% no-repeat;
}
#menu2 {
  padding-left: 50px;
  background: url("../img/menuUser_black.png") 5% 50% no-repeat;
}
#menu3 {
  padding-left: 50px;
  background: url("../img/menuHowtocook_black.png") 5% 50% no-repeat;
}
#menu4 {
  padding-left: 50px;
  background: url("../img/menuGuide_black.png") 5% 50% no-repeat;
}

/* iframe 속성 사이즈 */
iframe {
  float: right;
  width: 76%;
  height: 85vh;
  border: none;
}

/* html 폴더 안의 모든 파일의 body id */
#frame {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, .5);
  width: 92%;
  height: 89vh;
  overflow: hidden;
  padding:3%;
}

/* 제출 버튼 디자인 */
button {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}
